{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="profile-container text-center p-4 shadow-lg rounded bg-white" style="max-width: 500px; width: 100%;">
        
        <!-- Форма редактирования профиля -->
        <form action="{% url 'accounts:profile' %}" method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
        
            <!-- Аватар пользователя -->
            <div class="profile-avatar position-relative mx-auto">
                {% if user.image %}
                    <img src="{{ user.image.url }}" 
                         alt="User Avatar" 
                         class="rounded-circle shadow" 
                         width="130" height="130">
                {% else %}
                    <img src="{% static 'images/profile-icon.png' %}" 
                         alt="User Avatar" 
                         class="rounded-circle shadow" 
                         width="130" height="130">
                {% endif %}
                <input type="file" class="form-control mt-3 mx-auto" id="id_image" 
                       name="image"
                       accept="image/*" 
                       style="max-width: 250px;">
                {% if form.image.errors %}
                    <div class="alert alert-danger">{{ form.image.errors }}</div>
                {% endif %}
            </div>
            
            <div class="mb-3 text-start">
                <label for="id_username" class="form-label"><strong>Логин:</strong></label>
                <input type="text" id="id_username" name="username" class="form-control" 
                       value="{{ form.username.value }}" 
                       readonly>
                       {% if form.username.errors %}
                            <div class="alert alert-danger">{{ form.username.errors }}</div>
                       {% endif %}
            </div>
        
            <div class="mb-3 text-start">
                <label for="id_first_name" class="form-label"><strong>Имя:</strong></label>
                <input type="text" id="id_first_name" name="first_name" class="form-control" 
                       value="{{ form.first_name.value }}" 
                       placeholder="Введите имя">
                {% if form.first_name.errors %}
                    <div class="alert alert-danger">{{ form.first_name.errors }}</div>
                {% endif %}
            </div>
        
            <div class="mb-3 text-start">
                <label for="id_last_name" class="form-label"><strong>Фамилия:</strong></label>
                <input type="text" id="id_last_name" name="last_name" class="form-control" 
                       value="{{ form.last_name.value }}" 
                       placeholder="Введите фамилию">
                {% if form.last_name.errors %}
                    <div class="alert alert-danger">{{ form.last_name.errors }}</div>
                {% endif %}
            </div>
        
            <div class="mb-3 text-start">
                <label for="id_phone_number" class="form-label"><strong>Телефон:</strong></label>
                <input type="text" id="id_phone_number" name="phone_number" class="form-control"  
                       value="{{ form.phone_number.value|default:'' }}" 
                       placeholder="Введите номер телефона">
                {% if form.phone_number.errors %}
                    <div class="alert alert-danger">{{ form.phone_number.errors }}</div>
                {% endif %}
            </div>
        
            <!-- Кнопка сохранения -->
            <button type="submit" class="btn btn-success w-100">Сохранить изменения</button>
        </form>
        

        <!-- Кнопка выхода -->
        <form method="post" action="{% url 'accounts:logout' %}" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger w-100">Выйти</button>
        </form>

    </div>
</div>



{% endblock %}
