{% if message.context %}
    <div class="message-text">{{ message.context }}</div>
    <div class="message-time text-muted">{{ message.timestamp|date:"H:i A" }}</div>
{% elif message.file %}
    {% if message.is_image %}
        <img class="message-image" src="{{ message.file.url }}" alt="Message file">
    {% else %}
        &#x1F4CE; <a class='cursor-pointer italic hover:underline' href="{{message.file.url}}" download>{{message.filename}}</a>
    {% endif %}
{% endif %}

<style>
    .message-image {
        max-width: 300px;  /* Ограничение ширины */
        height: auto;      /* Сохраняет пропорции */
        max-height: 500px; /* Ограничение высоты */
    }  
</style>